<section class="orderList light-section">
    <h1 class="mx-auto container font-bold text-xl ">All orders</h1>
    <div class="container mx-auto">
        <%if(messages.success){%>
        <div id="success-alert"class="flex items-center  px-4 py-2 bg-green-500 ">
            <img src="/imgs/alert.png" alt=""/>
            <p><%=messages.success%></p>
        </div>
        <%}%>
        <div class="mx-auto container mt-4">
            <table class="w-full table-auto bg-white">
            <thead>
              <tr>
                <th class="px-4 py-2 text-left">Orders</th>
                <th class="px-4 py-2 text-left">Address</th>
                <th class="px-4 py-2 text-left">Time</th>
              </tr>
            </thead>
            <tbody>
              <%if(orders.length==0){%>
                <tr>
                  <td class="border px-4 py-2">
                     <a href="/">No orders yet!!</a>
                  </td>
                  </tr>
                  <%} else { for(var i=0;i<orders.length;i++){%>
              <tr>
                <td class="border px-4 py-2">
                   <a class="link font-bold" href="/customer/track/<%=orders[i].id%>"><%=(i+1)%></a>
                </td>
                <td class="border px-4 py-2">
                  <%=orders[i].addrees%>
               </td>
               <td class="border px-4 py-2">
                  <%=moment(orders[i].createdAt).format("hh:mm A")%>
                </td>
              </tr>
              <%} }%>
            </tbody>
            </table>
        </div>
    </div>
  </section>